
class Rist extends React.Component{
render () {
return (
<div>
  <Title
          title={this.props.title}
  />
  <Items
          items={this.props.items}
  />
</div>
)
}
}
class Title extends React.Component {
render () {
const title = this.props.title
return (
<h3>{title}</h3>
)
}
}
class Items extends React.Component {
render () {
const items = this.props.items.split(',')
const Obj = items.map((value) => {
return (
<li>{ value }</li>
)
})
return (
<ul>{ Obj }</ul>
)
}
}
ReactDOM.render(
<div>
  <Rist
          title="好きな女優の役"
          items="松島みゆき, 土井亜紀, 羽田 梓"
  />
  <Rist
          title="好きな映像"
          items="モテキ, ワニトカゲギス"
  />
</div>,
document.getElementById('root')
)