<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ReactPractice</title>
  <script src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.38/browser.min.js"></script>
</head>
<body>
  <div id="root"></div>
  <script type="text/babel">
    class PhotoText extends React.Component {
      getImage () {
        return 'img/' + this.props.image + '.jpg'
      }
      getLabel () {
        return this.props.label
      }
      css () {
        return {
          border: '1px solid silver',
          margin: '8px',
          padding: '1px'
        }
      }
      render () {
        return (
          <div style={this.css()}>
            <img src={this.getImage()} width="128"/>
            <span>{this.getLabel()}</span>
          </div>
        )
      }
    }
    ReactDOM.render(
      <div>
        <PhotoText image="photo1" label="松島みゆき" />
        <PhotoText image="photo2" label="土井亜紀" />
        <PhotoText image="photo3" label="羽田 梓" />
      </div>,
      document.getElementById('root')
    )
  </script>
</body>
</html>
